@import 'default';

section{
  background-color: #f5f7fa;
  font-family: 'hiragino kaku gothic pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 24px;
  box-sizing: border-box;
  border: 12px double #26c6da;
  border-radius: 6px;
  margin: 0px;           /* ← ここを0に */
  padding: 24px;       /* ← 内側に余白を作る */
}

section.title h1{
  color: #26c6da;
  font-size: 60px;
  text-align: center;
}

section.title {
  color: #072327;
  text-align: center;
  font-size: 36px;
}

section.only-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 400px; /* 必要に応じて調整 */
  padding: 0 48px;
  box-sizing: border-box;
}

section.only-title h1 {
  font-size: 64px;
  color: #26c6da;
  max-width: 40%; /* 例: 40%まで使えるように */
  word-break: break-word;
  white-space: normal;
  margin: 0;
  flex: 0 1 40%;  /* 追加: 40%まで広がる */
  background: linear-gradient(90deg, #26c6da, #f48fb1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* 一部ブラウザ用 */
}

section.only-title img {
  height: auto;
  margin-left: auto;   /* これを追加 */
  flex-shrink: 0;
}


section.slides h1{
  color: #26c6da;
  font-size: 60px;
  position: absolute;
  left: 72px; top: 72px;
}

section.slides > ul,
section.slides > p,
section.slides > ol {
  color: #072327;
  font-size: 36px;
  position: absolute;
  left: 72px;
  top: 180px;  /* ←h1の高さ＋余白 */
  /* 幅や高さはお好みで */
}
